:root {
  --cactus: linear-gradient(90deg, #C6EA8D 0%, #FE90AF 100%);
}

html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: "Jost", sans-serif; /* this should be the rest of the output you got from Google fonts */
}

h1 {
  font-size: 20px;
  text-align: center;
}

img[src] {
  display: block;   
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

body {
  background-color: rgb(253, 253, 253);
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  background-image: url("images/white-waves.png");
  background-repeat: repeat;
}

#all-content-container {
  width: 70%;
  margin: auto;
  padding: 1% 0% 5% 0%;
  background-color: rgba(255,255,255,1);
  /* border-style: solid; */
  box-shadow: 0px 0px 10px 5px rgb(10,10,10);
}

.top-bar {
  position: relative;
  margin-bottom: 2em;
  padding: 300px 1em 1em 1em;
  /* background-color: green; */
}

#summary {
  position: absolute;
  width: 50%;
  margin: auto;
  top: 30%;
  right: 10%;
  text-align: left;
  /* background-color: blue; */
  font-size: 16px;
  z-index: 1;
}

#portrait-container {
  /* width: 200px;
  height: 200px; */
  position: absolute;
  top: 3em;
  left: 10%;
  /* background-color: yellow; */
  z-index: 2;
}

#contact-info {
  text-align: right;
  font-size: 12px;
  width: 100%;
  margin-top: 1em;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: pink;
}

/* nav ul {
  margin: 5px 5px;
  padding: 10px 50% 5px 30px;
}

nav li {
  display: inline;
  margin-right: 5em;
} */

.project-container {
  padding: 5% 0% 0% 5%;
}

/* General Style for Project Cards */
.project-card {
  margin-top: 2em;
  margin-left: 5%;
  width: 50%;
  border-radius: 40px;
  border-color: silver;
  border-style: solid;
  box-shadow: 5px 5px 5px rgb(10, 10, 10);
  padding: 1em 0 0 1em;
  background: var(--cactus);
}

.project-card:hover {
  animation-name: project-enlarge;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}


.project-title {
  font-size: 16px;
}

li {
  font-size: 14px;
}



/* All animations down here */
@keyframes project-enlarge {
  100% {
    transform: scale(1.1);
  }
}
