:root {
  --cactus: linear-gradient(90deg, #C6EA8D 0%, #FE90AF 100%);
  --piglet: linear-gradient(180deg, rgba(238,156,167, 0.9) 0%, rgba(255,221, 225, 0) 50%);
}

html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: "Jost", sans-serif; /* this should be the rest of the output you got from Google fonts */
}

h1 {
  font-size: 45px;
  position: relative;
  bottom: 10px;
  text-align: center;
}

h2 {
  font-size: 35px;
  position: relative;
  left: 5%;
}

img[src] {
  display: block;   
  margin: 0 auto;
}

body {
  background-color: rgb(253, 253, 253);
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  background-image: url("images/white-waves.png");
  background-repeat: repeat;
}

#all-content-container {
  width: 70%;
  margin: auto;
  padding: 1% 0% 5% 0%;
  background-color: rgba(255,255,255,1);
  /* border-style: solid; */
  box-shadow: 0px 0px 10px 5px rgb(10,10,10);
  min-width: 800px;
}

.top-bar {
  position: relative;
  margin-bottom: 2em;
  padding: 300px 1em 1em 1em;
  /* background-color: green; */
}

#summary {
  position: absolute;
  width: 50%;
  margin: auto;
  top: 5%;
  right: 7%;
  text-align: left;
  /* background-color: blue; */
  font-size: 18px;
  z-index: 1;
}

#portrait-container {
  /* width: 200px;
  height: 200px; */
  position: absolute;
  top: 10px;
  left: 100px;
  /* background-color: yellow; */
  z-index: 2;
}

#portrait {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

#linkedin {
  float: right;
  width: 60px;
  height: 60px;
  padding: 0px 10px;
}

#github {
  float: right;
  width: 60px;
  height: 60px;
  padding: 0px 10px;
}

#contact-info {
  text-align: right;
  font-size: 15px;
  width: 100%;
  height: 30px;
  margin-top: 1em;
  padding: 1px 1px;
  background-color: pink;
}

/* nav ul {
  margin: 5px 5px;
  padding: 10px 50% 5px 30px;
}

nav li {
  display: inline;
  margin-right: 5em;
} */

.project-container {
  padding: 5% 0% 0% 5%;
}

/* General Style for Project Cards */
.project-card {
  margin-top: 2em;
  margin-left: 5%;
  width: 50%;
  border-radius: 20px;
  border-color: black;
  border-style: solid;
  box-shadow: 5px 5px 5px rgb(10, 10, 10);
  padding: 1em 2em;
  background: var(--piglet);
  transition: 0.5s;
}

.project-card:hover {
  transform: scale(1.1);
}


.project-title {
  font-size: 16px;
}

.logoproject {
  display: block;
  height: 40px;
  width: 40px;
  position:static;
  bottom: 50px;
  left: 45%;
}

li {
  font-size: 14px;
}



/* All animations down here */

